<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @portfolio.user.username %>
</p>

<%= link_to "Back to Dashboard", root_path %> | 
<%= link_to 'New Image', new_image_path %>
