<!-- User's portfolio - main page -->

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Home - 2VD</title>
        <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&display=swap">
        <link rel="stylesheet" href="app/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
    </head>

    <body style="background: rgb(232, 242, 255)">
        
      <main class="page projets-page" style="padding-top:7%;">
      <section>
        <% if User.find_by(email: current_admin.email) == @portfolio.user  || User.find_by(email: current_admin.email).isAdmin%>
          <button class="btn btn-dark float-end" onclick="location.href='<%= edit_portfolio_path(@portfolio) %>'" type="button" id="Edit title" name="Edit title">Edit Title</button>
          <button class="btn btn-dark float-end" style="margin-right:3vw;" onclick="location.href='<%= new_image_path %>'" type="button" id="New Image" name="New Image">Add Image</button>
		  <button class="btn btn-dark float-end" style="margin-right:3vw;" onclick="location.href='<%= user_album_path(@portfolio.user) %>'" type="button" id="Albums" name="Albums">Albums</button>
         <% end %>
      </section>
	  
      <section class="portfolio-block projects compact-grid" style="padding-top:4%">
            <div class="heading">
                <p id="notice"><%= notice %></p>
                <h1 style="font-style:italic; font-weight:bold;"><%= @portfolio.title %></h1>
                <h4><%= @portfolio.user.username %>'s portfolio</h4>
            </div>
            <div class="row g-0">
                  <% @images.each do |image| %>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover position-relative">
                    <%= link_to image_path(image) do %>
                      <%= image_tag(image.imageLink.url, class: 'portfolio image', style: 'height:480px;width:480px;object-fit: cover;') %>
                      <span class="description"><span class="description-heading"><%= image.title %></span><span class="description-body"><%=image.caption%></span>
                    <% end %>
                    </div>
                <% end %>
            </div>
        </section>

      </main>

        <footer class="page-footer">
            <div class="social">
                <p>2VD socials:</p>
                <a href="https://discord.gg/YmxbzC79" title="Discord"><i class="fab fa-discord" style="font-size:30px"></i></a>
                <a href="https://www.facebook.com/groups/926735031021170/" title="Facebook"><i class="fab fa-facebook-f" style="font-size:30px"></i></a>
                <a href="https://www.instagram.com/tamu_2vd/" title="Instagram"><i class="fab fa-instagram" style="font-size:30px"></i></a>
                <a href="https://twitter.com/2vdTamu" title="Twitter"><i class="fab fa-twitter" style="font-size:30px"></i></a>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script src="app/assets/javascript/channels/bootstrap.min.js"></script>
        <script src="app/assets/javascript/packs/application.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>