<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user.username %>
</p>


<%= link_to "Back to Dashboard", root_path %> |
<% if current_admin.id == @portfolio.user.id %> 
  <%= link_to "Edit title", edit_portfolio_path(@portfolio) %> | 
<% end %>
<%= link_to 'New Image', new_image_path %>
