<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<html>
  <h1>Edit Profile</h1>
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputName">Name</label>
        <input type="text" class="form-control" id="inlineFormInputName" <%= form.text_field :full_name %>>
      </div>
      
      <br>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" <%= form.text_field :username %>>
        </div>
      </div>

      <br>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroupUsername">Avatar</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" <%= form.text_field :avatar %>>
      </div>

      <% if User.find_by(email: current_admin.email).isAdmin %>
        <div class="field">
          <%= form.label :isAdmin %>
          <%= form.check_box :isAdmin %>
        </div>
      <% end %>

      <br>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroupUsername">Role</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" <%= form.text_field :role %>>
      </div>

      <br>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroupUsername">Bio</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" <%= form.text_field :bio %>>
      </div> 

      <br>
      <div class="actions">
        <br><button class="btn btn-primary" type="button"><%= form.submit %></button>
      </div>
    </div>
    <% end %>
  </form>
</html>

