<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" style="width: 50%;margin-top: 0px;margin-left: 0;">
    <form>
      <label class="form-label">Name:</label><input class="form-control" type="text" value="<%= @user.full_name %>"/>
      <label class="form-label">Username:</label><input class="form-control" type="text" value="<%= @user.username %>"/>
      <label class="form-label">Avatar:</label><input class="form-control" type="url" value="<%= @user.avatar %>"/>

      <% if User.find_by(email: current_admin.email).isAdmin %>
        <div class="form-check">
          <input id="formCheck-1" class="form-check-input" type="checkbox" />
          <label class="form-check-label" for="formCheck-1">Admin</label>
        </div>
      <% end %>

      <label class="form-label">Role:</label><input class="form-control" type="text" value="<%= @user.role %>"/>
      <label class="form-label">Bio:</label><input class="form-control" type="text" value="<%= @user.bio %>"/>
      <!--<button class="btn btn-primary active" type="submit" >Update</button>-->
    </form>
  </div> 

 <!-- <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label "Avatar Link" %>
    <%= form.text_field :avatar %>
  </div>

  <% if User.find_by(email: current_admin.email).isAdmin %>
    <div class="field">
      <%= form.label :isAdmin %>
      <%= form.check_box :isAdmin %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
