<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>Edit Profile</h1>

 <div class="container" style="width: 60%;margin-top: 0px;margin-left: 0;">
    <label class="form-label">
      <%= form.label :full_name, "Name" %>
      </label>
    <input class="form-control" <%= form.text_field :full_name %>>
  </div>

  <div class="container" style="width: 50%;margin-top: 0px;margin-left: 0;">
    <label class="form-label">
      <%= form.label :username, "Username" %>
    </label>
    <input class="form-control" <%= form.text_field :username %>>
  </div>

  <div class="container" style="width: 50%;margin-top: 0px;margin-left: 0;">
    <label class="form-label">
      <%= form.label "Avatar Link" %>
    </label>
    <input class="form-control" <%= form.text_field :avatar %>>
  </div>

  <% if User.find_by(email: current_admin.email).isAdmin %>
    <div class="field">
      <%= form.label :isAdmin %>
      <%= form.check_box :isAdmin %>
    </div>
  <% end %>

  <div class="container" style="width: 50%;margin-top: 0px;margin-left: 0;">
    <label class="form-label">
      <%= form.label :role, "Role" %>
      </label>
    <input class="form-control" <%= form.text_field :role %>>
  </div>

  <div class="container" style="width: 50%;margin-top: 0px;margin-left: 0;">
    <label class="form-label">
      <%= form.label :bio, "Bio"%>
    </label>
    <input class="form-control" <%= form.text_field :bio %>>
  </div> 

  <div class="actions">
    <br><button class="btn btn-primary" type="button"><%= form.submit %></button>
  </div>
<br>
<button class="btn btn-danger" onclick="location.href='<%= user_path(@user)%>'" type="button">Cancel</button>
<% end %>

