<!-- This is what shows the user when they are logged in? -->

<p id="notice"><%= notice %></p>

<div class="flex-container">

  <% unless @user.avatar == nil %>
    <div class="flex-child image">
      <%= image_tag(@user.avatar, class: 'avatar_img', style: 'width:300px') %>
    </div>
  <% end %>

  <div class="flex-child words">
    <p class="username">
        <%= @user.username %>
    </p>
  
    <p class="role">
      <%= @user.role %>
    </p>

    <p class="bio">
      <%= @user.bio %>
    </p>
  </div>
</div>

<% @images.each do |image| %>
  <div class="flex-child image">
    <%= link_to image_path(image) do %>
      <%= image_tag(image.imageLink.service_url, class: 'portfolio image', style: 'width:300px') %>
    <% end %>
  </div>
<% end %>

<div class="eof-buttons">
  <% if User.find_by(email: current_admin.email).isAdmin %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %> |
  <% end %>
  <%= link_to 'To Albums', user_album_path(@user) %> |
  <%= link_to 'Show All Users', users_path %> |
  <%= link_to 'Back to Dashboard', root_path %>
</div>