<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
	<div class="form-row align-items-center">
	  <div class="field">
		<%= form.label :name %>
		<%= form.text_field :name %>
	  </div>

	  <div class="field">
		<%= form.label :caption %>
		<%= form.text_field :caption %>
	  </div>

	  <div class="actions">
		<%= form.submit %>
	  </div>
	</div>
  </form>
<% end %>
