<p id="notice"><%= notice %></p>

<h1 style="padding-top: 7%;">Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to "album.name", edit_album_path(album) %></td>
        <td><%= album.caption %></td>
        <td><%= link_to 'Show', album %></td>
        <% if User.find_by(email: current_admin.email).isAdmin %>
          <td><%= link_to 'Add Image', add_album_path(album) %></td>
          <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if User.find_by(email: current_admin.email).isAdmin %>
  <%= link_to 'New Album', new_album_path %> |
<% end %>
<%= link_to "Back to Dashboard", root_path %>
