<!-- (Signed out) Home Page -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - 2VD</title>
    <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="app/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body style="background: rgb(232, 242, 255)">

    
    <main class="page projects-page" style="padding-top: 7%;">
        <section class="portfolio-block projects-cards" style="padding-top: 5px;padding-bottom: 50px;">
            <h4 style="text-align: center; margin-top: 0%;">You're Logged out!</h4>
            <p style="text-align: center; margin-top: 0%;">Sign in to view more of the 2VD website.</p>
            <h1 style="text-align: center;margin-top: 0%;margin-bottom: 3%;"><strong>2VD</strong> Visual Developers</h1>
                <div class="row" style="padding-top: 2%">
                    <div class="col-md-6">
                        <%= image_tag ("2VD-logo.png"), :size => "700" %>
                    </div>
                    <div class="col-md-6" style="padding: 5%">
                        <h4 style="text-align: center;"><strong>About Us</strong>:</h4>
                        <p style="padding-top:2%">Howdy and welcome to 2VD! We are an organization focused around the 2D medium and developing our artistic skills. The purpose of 2VD is to 
                        provide a space where those with a shared interest in comics, animation, graphic novels, and concept art can come together and create. 
                        Members of 2VD participate in weekly prompt submssions, etc., etc. It's $20 per semester and we meet weekly on Sundays via Discord.
                        </p>
                    </div>
                </div>
            <div class="container" style="padding: 0px;">
                <div class="heading"></div>
                    <div class="row">
                        <div class="col">
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1"><h1 style="text-align: center;margin-top: 1%;margin-bottom: 2%;">Current Weekly Prompt</h1>
                                <div class="carousel-inner">
                                    <ol class="carousel-indicators">
                                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                                        <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                                        <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-item active">
                                        <%= image_tag "MascotsColored.jpg"%>
                                    </div>
                                    <div class="carousel-item">
                                        <%= image_tag "ConceptArtMascot.jpg" %>
                                    </div>
                                    <div class="carousel-item">
                                        <%= image_tag "StoryboardingMascot.jpg" %>
                                    </div>
                                    <div class="carousel-item">
                                        <%= image_tag "ShortComicsMascot.jpg" %>
                                    </div>
                                    <div class="carousel-item">
                                        <%= image_tag "GraphicNovelMascot.jpg" %>
                                    </div>
                                </div>
                                <div>
                                    <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="text-align: center;margin-top: 6%;margin-bottom: 2%;">Previous Prompts</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <%= image_tag ("MascotsColored.jpg"), :size => "400"%>
                        </div>
                        <div class="col-md-4">
                            <%= image_tag ("ConceptArtMascot.jpg"), :size => "400"%>
                        </div>
                        <div class="col-md-4">
                            <%= image_tag ("GraphicNovelMascot.jpg"), :size => "400"%>
                        </div>
                    </div>
                </div>
        </section>
    </main>

    <footer class="page-footer">
    <div class="container">
        <a href="https://discord.gg/YmxbzC79" title="Discord"><i class="fab fa-discord" style="font-size:30px"></i></a>
        <a href="https://www.facebook.com/groups/926735031021170/" title="Facebook"><i class="fab fa-facebook-f" style="font-size:30px"></i></a>
        <a href="https://www.instagram.com/tamu_2vd/" title="Instagram"><i class="fab fa-instagram" style="font-size:30px"></i></a>
        <a href="https://twitter.com/2vdTamu" title="Twitter"><i class="fab fa-twitter" style="font-size:30px"></i></a>
    </div>
    </footer>

    <script src="app/assets/stylesheets/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="app/assets/javascript/packs/application.js"></script>

</body>
