<%= form_with(model: @gallery) do |form| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
        <% @gallery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  </head>
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="prompt">Prompt Title</label>
        <input class="form-control" type = "text" id = "prompt" name = "gallery[prompt]" value="<%= @gallery.prompt %>">
      </div>

      <br>
      <div class="row-auto" style="padding-top:4%">
        <input type="submit" class="btn btn-dark" id = "Submit" value="Save Changes" style="display: block; margin: 0 auto;">
        <%= link_to 'Delete Gallery', @gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>

  </form>
<% end %>
