<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @gallery.prompt %>
</p>

<% @images.each do |image| %>
  <div class="flex-child image">
    <%= link_to image_path(image) do %>
      <%= image_tag(image.imageLink.service_url, class: 'portfolio image', style: 'width:300px') %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', galleries_path %>
