<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <h1 style="text-align: center;margin-top: 0%;margin-bottom: 3%;">New Image</h1>
  <form >
    <div class="form-row align-items-center">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :caption %>
        <%= form.text_field :caption %>
      </div>

      <div class="field">
        <%= form.label :imageLink %>
        <%= form.file_field :imageLink %>
      </div>

      <div class="field">
        <%= form.label :showOnPortfolio %>
        <%= form.check_box :showOnPortfolio %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
        </div>
  </form>

<% end %>
