<!-- show a single image -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body style="background: rgb(232, 242, 255)">
        
      <main class="page projets-page">
        <section class="portfolio-block block-intro" style="padding-top:7%">
          <div class="container">
            <p id="notice"><%= notice %></p>
          </div>
          <%= image_tag(@image.imageLink.url, class: 'portfolio image', style: 'width:500px') %>

          <h2 style="font-weight:bold;"><%= @image.title %></h2>
          <h5>by <%=@image.User.username %></h5>

          <p><%= @image.caption %></p>

      <% if User.find_by(email: current_admin.email).isAdmin || (User.find_by(email: current_admin.email).id == @image.users_id) %>
        <a style="padding:1%;"><%= link_to 'Edit', edit_image_path(@image), :style=>'color:#000000; text-decoration:underline;'%></a>
        <a style="padding:1%;"><%= link_to 'View Portfolio', portfolio_path(@image.portfolios_id), :style=>'color:#000000; text-decoration:underline;'%></a>
        <a style="padding:1%;"><%= link_to "Delete", @image, method: :delete, data: { confirm: 'Are you sure?' }, :style=>'color:#000000; text-decoration:underline;'%></button>
        <a style="padding:1%;"><%= link_to 'Unlink from Gallery', unlink_image_path(@image), method: :patch, data: { confirm: 'Are you sure?' }, :style=>'color:#000000; text-decoration:underline;'%></button>
        <a style="padding:1%;"><%= link_to 'Unlink from Album', unalbum_image_path(@image), method: :patch, data: { confirm: 'Are you sure?' }, :style=>'color:#000000; text-decoration:underline;'%></button>
      <% end %>
      </section>
    </main>

</body>
